*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
 background-color:blue;
display: flex;
padding: 20px;

}

.imagen-365{
    display:flex ;
flex-wrap: wrap;
justify-content: center;

}
