@charset "UTF-8";
header, body nav div div, section div, footer {
  display: flex;
  justify-content: center; }

header {
  background-color: gold;
  padding: 20px; }

body nav div div {
  list-style: none;
  gap: 2rem; }

/*animacion botones*/
body div ul li:hover {
  background-color: gold;
  transform: scale(0.9);
  box-shadow: 1px 1px 3px goldenrod;
  transition: 1s; }

/*cards de inventario*/
section div {
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem; }

section div div {
  flex-direction: column;
  align-items: center; }

/*subtitulos pestañas*/
.subtitulos-h2 {
  padding: 30px;
  margin: 30px;
  background-color: gold;
  text-align: center; }

/*estilos footer*/
footer {
  background-color: black; }

/*imagen fondo*/
body {
  background-image: url("../imagenes.pagina/fondo-black.jpg"); }

/* Animacion header*/
header h1 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInDown;
  animation-duration: 2s; }

/*carousel de inicio*/
.carousel-inner img {
  margin: auto; }
